*.exe
*.csv
*.txt
!input.txt
!input_wolf.txt
!input_cldyn.txt
!in.txt
!duffing_2DoF_epbasin.csv
!duffing_2DoF_info.txt
time_series
poinc_map
lyap_exp_wolf
lyap_exp_cldyn
ftime_series
bifurc
dyndiag
fbifurc
dyndiag_parallel
fbifurc_parallel
bifurc_parallel
dyndiag_parallel
epbasin
basin
forcedbasin