*.csv
*.txt
!input.txt
!input_new.txt
!input_wolf.txt
!input_cldyn.txt
!in.txt
!in_new.txt
!in_EH.txt
!in_EH_new.txt
!input_wolf_new.txt
!input_EH.txt
!po_in.txt
!OPEH_in.txt
!2dof_in.txt
!duffing_in.txt
!duffing_2DoF_epbasin.csv
!duffing_2DoF_info.txt
!2dof_EH_in.txt
!input_pend.txt
!OPEH_in_new.txt
!ToDoList.txt
!in_arthur.txt
!OPEH_in_new_old.txt
!OPEH_in_new_THIS.txt